@font-face {
    font-family: "gotham rounded";
    src: url("fonts/gotham.woff") format("woff");
}
body,p {
    font-family: "gotham rounded";
    font-size: 12px;
    line-height: 1.3em;
}

/* ***********header area************** */
.container{
    width: 80%;
    margin: auto;
}
.header-area{
    background-image: url(images/header-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    padding: 25px 0; 
}
.menu-area ul{
    margin: 0;
    padding: 0;
}
.menu-area ul li{
    display: inline;
    list-style: none;
    margin: 0 11px;
}
.menu-area ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}
.menu-area ul li:hover a{
    color: #16a085;
}
.menu-area ul .logo{
    margin: 0 40px;
    width: 40px;
    height: auto;
}
.header-area h2{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.header-area h5{
    font-size: 16px;
    font-weight: normal;
}
.welcome-text{
    margin-top: 215px;
    overflow: hidden;
}
.btn{
    background-color: #16a085;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
    transition: .5s;
    border: 1px solid transparent;

}
.btn:hover {
    color: #16a085;
    background-color: #ffffff;
    border: 1px solid #16a085;
}
.social-media {
    overflow: hidden;
    margin-top: 100px;
}
.social-media ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-media ul li{
    display: inline;
    margin: 0 10px;
}
.social-media ul li a{
    color: #ffffff;
    font-size: 20px;
}
.social-media ul li:hover a{
    color: #16a085;
}
/* **************getting started*************** */
.getting-started{
    background-color: #f5f6f7;
    overflow: hidden;
    max-height: 315px;
}
.getting-started .text-area{
    padding: 50px 0;
}
.row{
    overflow: hidden;
}
.col-1-2{
    width: 50%;
    float: left;
    overflow: hidden;
}
.text-area h3{
    color: #16a085;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
}
.text-area p{
    color: #373737;
    word-spacing: 2px;
}
.text-area .btn{
    margin-top: 20px;
}
.images-area img{
    width: 100%;
}
/* *********design area*********** */
.height{
    height: 375px;
    margin-top: 100px;
    overflow: hidden;
}
.mobile-area{
    width: 40%;
    float: left;
    overflow: hidden;
    margin-right: 20%;
}
.design-text{
    width: 40%;
    overflow: hidden;
}
.design-text h3{
    color: #16a085;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.design-text p{
    color: #7f7f7f;
    line-height: 20px;
    letter-spacing: 1px;
}
.slide{
    margin: 50px 0;
}
.arow i{
    color: #2d2d2d;
    font-size: 20px;
    margin-right: 20px;
}
/* **********comunity************ */
.comunity{
    background-color: #f5f6f7;
    overflow: hidden;
}
.comunity-arow{
    text-align: right;
    font-size: 20px;
}
.comunity-arow a i{
    color: #282929;
    margin-left: 5px;
}
.col-1-3{
    width: 31.33%;
    float: left;
    overflow: hidden;
    margin-left: 2%;
    text-align: center;
}
.col-1-3 h3{
    color: #373737;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.col-1-3 p{
    color: #7b7b7c;
    text-transform: capitalize;
}
.col-1-3 .margin{
    margin-top: 40px;
}
.main-div {
    margin-top: 100px;
    overflow: hidden;
    margin-bottom: 100px;
}

/********************** subscribe****************** */
.subscribe{
    background: url(images/subscribe-bg.jpg) no-repeat 0 0 / 100% 100%;
    padding: 200px;
}
.subscribe form{
    width: 240px;
    margin: 0 auto;
}
.subscribe form input[type="email"] {
    background: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px 0 0 3px;
}
.subscribe button {
    padding: 10px 10px;
    background-color: #16a085;
    border: none;
    color: white;
    margin-left: -3px;
}
/* **************downlaod area************** */

.download-area{
    background-color: #f5f6f7;
    overflow: hidden;
    text-align: center;
    min-height: 300px;
}
.download-text{
    margin-bottom: 30px;
}
.download-text h3{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #373737;
}
.margin-top {
    margin-top: 70px;
}
.download-text p{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #5d5d5d;
}
.download-option a{
    text-decoration: none;
    padding: 8px 40px;
    background-color: #1abc9c;
    color: #ffffff;
    margin-top: 20px;
    overflow: hidden;
}
.apple-store{
    float: left;
    text-transform: uppercase;
    width: 225px;
    margin-left: 240px;
}
.play-store {
    overflow: hidden;
    display: inline;
    text-transform: uppercase;
    width: 225px;
}
i.fab.fa-apple {
    padding: 8px 14px;
    background-color: #16a085;
    color: #ffffff;
    font-size: 13px;
    margin-left: -4px;
}
i.fab.fa-android {
    padding: 8px 13px;
    background-color: #16a085;
    color: #ffffff;
    font-size: 13px;
    margin-left: -4px;
}
/* *************footer************** */
.footer-text ul{
    margin: 0;
    padding: 0;
}
.footer-text ul li{
    list-style: none;
    display: inline;
}
.footer-text ul li a{
    text-decoration: none;
    margin: 0 5px;
    text-transform: uppercase;
    color: #373737;
}
.footer-text ul li:hover a{
    color: #16a085;
}
.footer-text {
    margin-top: 50px;
    display: inline-block;
    padding: 50px 0;
}
.footer-image{
    float: right;
    margin-top: 40px;
    padding: 50px 0;
}